---
import Logo from "./Logo.astro";
import Menu from "./svelte/Menu.svelte";
import Social from "./Social.astro";
---

<footer class="p-block bg-primary text-white">
    <div class="wrapper">
        <div class="grid-auto-fit gap content-center" style="--min-width-column=400px">
            <div class="flex flex-col items-center loop-info">
                <Logo />
                <Menu />
            </div>
            <div class="loop-social">
                <Social />
                <div class="text">
                    <p class="text-center p-bottom text-gray-dark">
                        &copy; 2023 Loopstudios. All rights reserved
                    </p>
                </div>
            </div>
        </div>
    </div>

</footer>

<style>
    @media screen and (min-width: 850px) {
        .loop-social {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
        }
        .loop-info {
            align-items: flex-start;
           
        }
        .loop-social .text{
           
            padding: 0 0 0 0 ;
           
           
        }    

        .loop-social .text p {
            text-align: right;
        }
    }
</style>

