<ul
    class="flex flex-col full-width gap items-center justify-center text-sm"
    style="--gap-size: 1rem; "
  >
    <li>About</li>
    <li>Careers</li>
    <li>Events</li>
    <li>Products</li>
    <li>Support</li>
</ul>