<ul class="flex gap justify-center m-block" style="--m-block: var(--size-5)">
    <li><a href="#"><img src="/images/icon-facebook.svg" alt="Facebook icon"></a></li>
    <li><a href="#"><img src="/images/icon-twitter.svg" alt="Twitter icon"></a></li>
    <li><a href="#"><img src="/images/icon-pinterest.svg" alt="Pinterest icon"></a></li>
    <li><a href="#"><img src="/images/icon-instagram.svg" alt="Instagram icon"></a></li>
</ul>

<style>
     @media screen and (min-width: 850px) {
        ul {
            flex-direction: row;
            justify-content: flex-end;
            align-items: flex-end;
            
        }

        ul li {
            width: 30px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0;
        }

        ul li a {
            color: hsl(var(--crl-white));
            width: 100%;
            display: block;
            padding: 0;
            position: relative;
        }

         ul li a img {
            width: 100%;
            height: 100%;
            padding-bottom: 10px;
        }


        ul li a:hover::after {
            content: '';
            position: absolute;
            padding-bottom: 1px;
            width: 100%;
            height: 1px;
            background-color: white; 
        }

    }

      @media screen and (min-width: 1550px) {
        ul {
           
            margin-right: 20px;
        }
      }  
</style>

