---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap" rel="stylesheet">
    <meta name="generator" content={Astro.generator} />

    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  @import "open-props/normalize";
  :root {
    /* Colors */
    --crl-white: 0 0% 100%;
    --crl-black: 0 0% 0%;
    --crl-dark-gray: 0 0% 55%;
    --crl-darker-gray: 0 0% 41%;
    
    /* Typography */
    --fs-base: 15px;
    --ff-secondary:  'Alata', sans-serif;
    --ff-primary: 'Josefin Sans', sans-serif;

 
    
  }

  html {
    font-size: var(--fs-base);
    font-family: var(--ff-primary);
  }

  .wrapper {
    width: 85%;
    max-width: 85%;
    margin-inline: auto;
  }

  @media screen and (min-width: 850px) {
    .wrapper {
       width: 80%;
    }
  }

  .flex {
    display: flex;
  }
  .flex-col {
    flex-direction: column;
  }
  .flex-wrap {
    flex-wrap: wrap;
  }
  .justify-between {
    justify-content: space-between;
  }
  .justify-center {
    justify-content: center;
  }
  .full-width {
    width: 100%;
  }
  .max-width-full {
    max-width: 100%;
  }
  .items-center {
    align-items: center;
  }

  .ml-auto {
    margin-left: auto;
  }
  .p-top {
    --p-top: var(--size-3);
    padding-block: var(--p-top);
  }
  .pad {
    --pad: var(--size-2);
    padding: var(--pad);
  }
  .p-block {
    --p-block: var(--size-6);
    padding-block: var(--p-block);
  }
  .m-block {
     --m-block: var(--size-6);
    margin-block: var(--m-block);
  }
  .gap {
    --gap-size: var(--size-3);
    gap: var(--gap-size);
  }
  .relative {
    position: relative;
  }

  .text-sm {
    font-size: var(--size-3);
  }

  /** APP ICONS **/

  svg.icon-sm {
    width: var(--size-7);
    height: var(--size-7);
  }

 

  ul {
    list-style-type: none;
    padding: 0;
  }
</style>
